@page "/catalog"
@using StreetTshirtApp.Models
@using StreetTshirtApp.Components
@rendermode InteractiveServer
@using StreetTshirtApp.Components.Shared


<PageTitle>Catalog - Street T-Shirt</PageTitle>

<div class="container mt-4">
    <h2 class="mb-4 fw-ligth">Exclusive Collection</h2>

    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4">
        @foreach (var product in products)
        {
            <div class="col">
                <div class="card h-100 shadow-sm border-secondary border-opacity-10 rounded-2" style="background-color: #f8f9fa;">
                    
                    <a href="/product/@product.Id" class="text-decoration-none">
                        <div class="p-4 text-center">
                            <img src="@product.ImageUrl" alt="@product.Name" class="img-fluid" style="max-height: 220px; object-fit: contain;" />
                        </div>
                    </a>
                    
                    <div class="card-body d-flex flex-column text-dark">
                        <a href="/product/@product.Id" class="text-decoration-none text-dark">
                            <h5 class="card-title fw-bold">@product.Name</h5>
                        </a>
                        
                        <p class="card-text small text-muted flex-grow-1">@product.Description</p>
                        
                        <div class="mb-3">
                            @foreach (var size in product.AvailableSizes)
                            {
                                <span class="badge bg-dark me-2">@size</span>
                            }
                        </div>
                        
                        <div class="d-flex justify-content-between align-items-center mt-auto">
                            <span class="fs-5 fw-bold" style="color: #747474;">$@product.Price.ToString("0.00")</span>
                            <button class="btn btn-dark btn-sm fw-bold rounded-0" @onclick="() => OpenQuickView(product)">
                                     ADD +
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            
        }
    </div>
</div>

<ProductQuickView Show="isPanelOpen" Product="selectedProduct" OnClose="() => isPanelOpen = false" />

@code {
    private List<Product> products = new();

    protected override void OnInitialized()
    {
        
        products = MockData.GetMockProducts();
    }
    private bool isPanelOpen = false;
    private Product? selectedProduct;

    private void OpenQuickView(Product product)
    {
        
        selectedProduct = product;
        isPanelOpen = true;
        StateHasChanged();
    }
}